<ul id="mobile-demo" class="side-nav fixed left-panel side-panal nav-text">
  <li class="qwe"><a href="#!" class="asd"><i class="material-icons">home</i>Home</a></li>
  <li><a href="#!" class="asd"><i class="material-icons">info_outline</i>About Us</a></li>
  <li><a href="#!" class="asd"><i class="material-icons">perm_data_setting</i>Services</a></li>
  <li><a href="#!" class="asd"><i class="material-icons">collections</i>Portfolio</a></li>
  <li><a href="#!" class="asd"><i class="material-icons">contacts</i>Contact us</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper light-blue lighten-2">
      <a href="#" class="brand-logo logo animated fadeIn">Logo</a>
      <!--<div class="horizontal right">-->
      <!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons large material-icons">add</i></a>-->
      <!--<ul>-->
      <!--<li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>-->
      <!--<li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>-->
      <!--<li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>-->
      <!--<li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>-->
      <!--</ul>-->
      <!--</div>-->
      <a class='dropdown-button btn btn-flat transparent right' href='#' data-activates='dropdown1'><i
        class="material-icons">more_vert</i></a>
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
      </ul>
      <div class="right">
        <a class="waves-effect waves-light btn social-icon"><i class="fa fa-google"></i></a>
      </div>
      <a class="btn-floating btn-flat btn-large waves-effect waves-light transparent left hide-on-large-only button-collapse"
         data-activates="mobile-demo"><i class="material-icons">menu</i></a>

    </div>
  </nav>
</div>
