/* You can add global styles to this file, and also import other style files */
.main-body{
  background-color: #F2F2F2;
}
header, main, footer {
  padding-left: 220px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.left-panel{
  background-color: #4fc3f7;
  margin-top: 62px;
  box-shadow: 0px 0px;
  width: 220px;
}
#slide-out {
  z-index: 99;
}
.card-icon{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0px auto;
  padding-top: 23px;

}
.abc{
  padding-top: 20px;
}
.card-color{
  background-color: #f4f3f3;
}
.hamari-class{
  text-align: center;
  font-weight: 400;
  margin-top: 40px;
}

.abcc {
  margin: 20px auto;
}
.bg-about{
  background-color:#f4f3f3 ;
}

.port-img{
  position: relative;
  overflow: hidden;
  width:250px;
  margin:0px;
}

.port-img > img {
}

.port-content {
  position: absolute;
  background-color: rgba(176, 164, 164, 0.72);
  top: -310px;
  width: 250px;
  height: 100%;
}

.port-img:hover .port-content {
  /*bottom: 0px;*/
  animation-name: slideInDown;
  top:0px;
}
.port-title{
  font-weight: 400;
  font-size: 30px;
}
.card.img{

}
.chutiiya:hover > .lund_ghuma {
  animation-name: rotateIn;
  /*animation-name: rotateOut;*/
}
/*.asd:hover:before {*/
/*background: #d7d9d9;*/
/*-webkit-transform: scaleX(0);*/
/*transform: scaleX(0);*/
/*-webkit-transform-origin: 0 50%;*/
/*transform-origin: 0 50%;*/
/*-webkit-transition-property: transform;*/
/*transition-property: transform;*/
/*-webkit-transition-duration: .3s;*/
/*transition-duration: .3s;*/
/*-webkit-transition-timing-function: ease-out;*/
/*transition-timing-function: ease-out;*/
/*}*/

.asd{
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:perspective(1px)
  translateZ(0);transform:perspective(1px) translateZ(0);
  box-shadow:0 0 1px transparent;
  position:relative;
  -webkit-transition-property:color;
  transition-property:color;
  -webkit-transition-duration:.5s;transition-duration:.5s
}

.asd:before{content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:#d7d9d9;
  -webkit-transform:scaleX(0);
  transform:scaleX(0);
  -webkit-transform-origin:0 50%;
  transform-origin:0 50%;
  -webkit-transition-property:transform;
  transition-property:transform;
  -webkit-transition-duration:.5s;
  transition-duration:.5s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out
}

.asd:active, .asd:focus,.asd:hover{color:#fff}

.asd:active:before,.asd:focus:before,.asd:hover:before{
  -webkit-transform:scaleX(1);
  transform:scaleX(1);
}

.page-footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 0px;
  background-color: #d7d9d9;
}
.logo{
  margin-left: 38px;
}
.logo-div{
  width: 100%;
}

.button-div{
  bottom: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.button{
  bottom: 0px;
}
.main{
  margin-bottom: 52px;
}
.card-image{
  padding: 10px;
}
.nav-text a, .nav-text i{
  color: white!important;
}
.newimgcard{
  width: 100%!important;
}


















@media only screen and (max-width: 992px)  {
  .left-panel {
    margin-top: 0px;
  }
  nav .brand-logo{

  }
  .logo{
    margin-left: 0px;
  }
}

@media only screen and (min-width: 768px){

  .myhorizontal{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
  }
  .card-image{
    width: 40%;
  }
  .card-image > img{
    width: 100% !important;
  }
  .cardd {
    float:left;
  }

}



